<% content_for :title, "Vote" %>


<style>

    .vote-outer {
        margin: 2em;
        padding: 1em;
        border: 1px solid black;
    }

    .voteoption {
        width: 7em;
        height: 25px;
        position: relative;
        background: black;
        padding: 0;
    }
    .voteoption:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
    }
    .voteoption-text {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    .option-a{
        border-bottom: 15px solid black;
        margin-bottom: 10px;
    }
    .ballot-col{
        border-left: 1px solid black;
        padding: 3px;
    }
    select{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
    .select-box{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
    .label{
        background-color: white!important;
    }

</style>

<%= semantic_flash %>

<div class="vote-outer">
  <%= form_with model: @vote do |form| %>
  <%= form_tag votes_path(method: :post) do %>
<!--<form id="voteform">-->
  <div class="ui grid">

    <div class="option-a equal width row">
      <div class="option-desc column">
        <p class="description">
        <h2>You may
          <br>
          vote in one of
          <br>
          2 ways
        </h2>
        <div class="voteoption">
          <p class="voteoption-text">Either:</p>
        </div>
        <h2>Above the line</h2>
        <p>By numbering at least <strong>6</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>

      <!--  here goes selection forms-->
        <% @party_votes_empty.each_with_index do |party_vote, i| %>
          <%= fields_for 'party_preferences[]', party_vote, include_id: false do |pv| %>
            <div class="ballot-col column">
              <%= @letter.next! %><br><br><br><br><br><br><br><br><br><br>
              <%= pv.text_field :preference, name: 'party_preferences[' + i.to_s + '][preference]', class: "select-box"%>
              <%= pv.hidden_field :candidateID, value: @candidateIDS[i], name: 'party_preferences[' + i.to_s + '][candidateID]' %>
              <h5><%= @parties[i] %></h5>
            </div>
          <% end %>
        <% end %>
      <%#= submit_tag 'Submit votes',  class: 'ui button' %>

    <%# end %>




    </div>

    <div class="option-b equal width row">
      <div class="option-desc column">
        <p class="description">
        <div class="voteoption">
          <p class="voteoption-text">Or:</p>
        </div>

        <h2>Below the line</h2>
        <p>By numbering at least <strong>12</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>


      <!--  here goes selection forms-->

      <%#= form_tag votes_path(method: :post) do %>
        <% @parties.each do |party| %>
          <div class="ballot-col column">
            <h5><%= party %></h5>
            <br><br>
            <% @candidate_votes_empty.each_with_index do |candidate_vote, j| %>

              <%= fields_for 'candidate_preferences[]', candidate_vote, include_id: false do |pv| %>

                    <% if @candidates[j].associated_party == party %>
                      <%= pv.text_field :preference, name: 'candidate_preferences[' + j.to_s + '][preference]', class: "select-box"%>
                      <%= pv.hidden_field :candidateID, value: @candidates[j].id, name: 'candidate_preferences[' + j.to_s + '][candidateID]' %>

                      <div class="ui label" style="margin-top: 0em;">
                        <%= @candidates[j].last_name.upcase %>
                        <br>
                        <%=  @candidates[j].first_name %>
                        <br>
                        <%= @candidates[j].associated_party %>
                      </div>
                      <br><br>
                    <% end %>

                <% end %>
            <% end %>
          </div>
        <% end %>



    </div>

  </div>
<!--  <div>-->
<!--    <button class="ui button" type="submit">Submit Votes</button>-->
<!--  </div>-->
<!--</form>-->

    <%= submit_tag 'Submit votes',  class: 'ui button' %>

    <% end %>
  <% end %>
</div>
