<!--https://stackoverflow.com/questions/1479219/validate-multiple-selects-for-preference-voting-in-rails?rq=1-->

<style>

    .vote-outer {
        margin: 2em;
        padding: 1em;
        border: 1px solid black;
    }

    .voteoption {
        width: 10em;
        height: 25px;
        position: relative;
        background: black;
        padding: 0px 0px 0px 0px;
    }
    .voteoption:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
    }
    .voteoption-text {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    .option-a{
        border-bottom: 15px solid black;
        margin-bottom: 10px;
    }
    .ballot-col{
        border-left: 1px solid black;
        padding: 3px;
    }
    select{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
    .label{
        background-color: white!important;
    }

    .popup{
      position: relative;
      display: inline-block;
      cursor: pointer;
    }
    .popup .popuptext{
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      z-index: 1;
      bottom: 125%
      left: 50%;
      margin-left: -80%;
    }
    .popup .popuptext::after{
      content:"";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    .popup .show{
      visibility: visible;
    }

</style>
<script>
  function popup_Func(){
    var popup = document.getElementById("popupresult");
    popup.classList.toggle("show");
  }
</script>

<div class="vote-outer">
<form id="voteform">
  <div class="ui grid">


    <div class="option-a equal width row">
      <div class="option-desc column">
        <p class="description">
        <h2>You may
          <br>
          vote in one of
          <br>
          2 ways
        </h2>
        <div class="voteoption">
          <p class="voteoption-text">Either:</p>
        </div>
        <h2>Above the line</h2>
        <p>By numbering at least <strong>6</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>

      <!--  here goes selection forms-->
      <% @parties.each do |party| %>
        <div class="ballot-col column">
          <%= @letter.next! %><br><br><br><br><br><br><br><br><br><br>
          <select name="candidate0">
            <option value="" label=" "></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <h5><%= party %></h5>
        </div>
      <% end %>




    </div>

    <div class="option-b equal width row">
      <div class="option-desc column">
        <p class="description">
        <div class="voteoption">
          <p class="voteoption-text">Or:</p>
        </div>

        <h2>Below the line</h2>
        <p>By numbering at least <strong>12</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>

      <!--  here goes selection forms-->
      <% @parties.each do |party| %>
        <div class="ballot-col column">
          <h5><%= party %></h5>
          <% @candidates.each do |candidate| %>
          <% if candidate.associated_party == party %>
          <select name= <%= candidate.candidate_id %>>
            <option value="" label= " "></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <div class="popup" onclick="popup_Func()">
              <%= candidate.last_name.upcase %>
              <br>
              <%=  candidate.first_name %>
              <span class="popuptext" id="popupresult">
                <%= candidate.last_name.upcase %>
                <%=  candidate.first_name %>
                <br>
                <%=candidate.associated_party%>
              </span>
          </div>
          <div class="ui label" style="margin-top: 0em;">
            <%= candidate.last_name.upcase %>
            <br>
            <%=  candidate.first_name %>
<!--            <br>-->
            <%#= candidate.associated_party %>
            <%= %>
          </div>
            <br><br>
            <% end %>
          <% end %>
        </div>
      <% end %>




    </div>

  </div>
</form>
</div>
<%# form_for :vote, @vote, :url => {:action => "create"}, :html => {:class => "nifty_form"} do |form| %>
<%# @parties.each do |party| %>
  <%# @candidates.each do |candidate| %>

    <%# if candidate.associated_party == party %>
      <%#= form.select ((1..6).map {|i| [i,i] }) %>

    <%# end %>

  <%# end %>

  <%# end %>
<%# end %>