<% content_for :title, "Vote" %>


<style>

    .vote-outer {
        margin: 2em;
        padding: 1em;
        border: 1px solid black;
    }

    .voteoption {
        width: 7em;
        height: 25px;
        position: relative;
        background: black;
        padding: 0;
    }
    .voteoption:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid black;
        border-top: 12.5px solid transparent;
        border-bottom: 12.5px solid transparent;
    }
    .voteoption-text {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    .option-a{
        border-bottom: 15px solid black;
        margin-bottom: 10px;
    }
    .ballot-col{
        border-left: 1px solid black;
        padding: 3px;
    }
    select{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
    .select-box{
        background-color: white;
        height: 40px;
        width: 40px;
        /*float: left;*/
        border: 2px solid #000;
        font-size: 1.4em;
        text-align-last: center;
    }
    .label{
        background-color: white!important;
    }

</style>

<%= semantic_flash %>

<button onclick="document.getElementById('id01').style.display='block'" class="ui yellow button">For More Information About All Candidates</button>

<div class="vote-outer">
  <%= form_with model: @vote do |form| %>
  <%= form_tag votes_path(method: :post) do %>
<!--<form id="voteform">-->
  <div class="ui grid">

    <div class="option-a equal width row">
      <div class="option-desc column">
        <p class="description">
        <h2>You may
          <br>
          vote in one of
          <br>
          2 ways
        </h2>
        <div class="voteoption">
          <p class="voteoption-text">Either:</p>
        </div>
        <h2>Above the line</h2>
        <p>By numbering at least <strong>6</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>

      <!--  here goes selection forms-->
        <% @party_votes_empty.each_with_index do |party_vote, i| %>
          <%= fields_for 'party_preferences[]', party_vote, include_id: false do |pv| %>
            <div class="ballot-col column">
              <%= @letter.next! %><br><br><br><br><br><br><br><br><br><br>
              <%= pv.text_field :preference, name: 'party_preferences[' + i.to_s + '][preference]', class: "select-box"%>
              <%= pv.hidden_field :candidateID, value: @candidateIDS[i], name: 'party_preferences[' + i.to_s + '][candidateID]' %>
              <h5><%= @parties[i] %></h5>
            </div>
          <% end %>
        <% end %>
      <%#= submit_tag 'Submit votes',  class: 'ui button' %>

    <%# end %>




    </div>

    <div class="option-b equal width row">
      <div class="option-desc column">
        <p class="description">
        <div class="voteoption">
          <p class="voteoption-text">Or:</p>
        </div>

        <h2>Below the line</h2>
        <p>By numbering at least <strong>12</strong><br>
          of these boxes in the order<br>
          of your choice (with number<br>
          1 as your first choice)</p>
      </div>


      <!--  here goes selection forms-->

      <%#= form_tag votes_path(method: :post) do %>
        <% @parties.each do |party| %>
          <div class="ballot-col column">
            <h5><%= party %></h5>
            <br><br>
            <% @candidate_votes_empty.each_with_index do |candidate_vote, j| %>

              <%= fields_for 'candidate_preferences[]', candidate_vote, include_id: false do |pv| %>

                    <% if @candidates[j].associated_party == party %>
                      <%= pv.text_field :preference, name: 'candidate_preferences[' + j.to_s + '][preference]', class: "select-box"%>
                      <%= pv.hidden_field :candidateID, value: @candidates[j].id, name: 'candidate_preferences[' + j.to_s + '][candidateID]' %>

                      <div class="ui label" style="margin-top: 0em;">
                        <%= @candidates[j].last_name.upcase %>
                        <br>
                        <%=  @candidates[j].first_name %>
                        <br>
                        <%= @candidates[j].associated_party %>
                      </div>
                      <br><br>
                    <% end %>

                <% end %>
            <% end %>
          </div>
        <% end %>



    </div>

  </div>
<!--  <div>-->
<!--    <button class="ui button" type="submit">Submit Votes</button>-->
<!--  </div>-->
<!--</form>-->

    <%= submit_tag 'Submit votes',  class: 'ui button' %>

    <% end %>
  <% end %>
</div>




<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/modal.min.js"></script>
<style>
.party {display:none}
 .ui.active.modal:not(.compact) { position: fixed !important; }
</style>
<body>

<div id="id01" class="ui small modal">
 <div class="ui modal content">
  <header class="ui blue container">
    <span onclick="document.getElementById('id01').style.display='none'" class="ui blue right floated button">&times;</span>
    <h2>Candidate Information</h2>
  </header>

  <div class="ui secondary pointing menu" style="overflow-x:scroll;overflow-y:hidden;height:30px;">
    <button class="tablink ui active item" onclick="openParty(event, 'Liberal')">Liberal Party of Australia</button>
    <button class="tablink ui active item" onclick="openParty(event, 'Labor')">Australian Labor Party</button>
    <button class="tablink ui active item" onclick="openParty(event, 'Nationals')">The Nationals</button>
    <button class="tablink ui active item" onclick="openParty(event, 'Greens')">Australian Greens</button>
    <button class="tablink ui active item" onclick="openParty(event, 'Alliance')">Centre Alliance</button>
    <button class="tablink ui active item" onclick="openParty(event, 'OneNation')">Pauline Hanson's One Nation</button>
    <button class="tablink ui active item" onclick="openParty(event, 'Lambie')">Jacqui Lambie Network</button>
    <button class="tablink ui active item" onclick="openParty(event, 'CountryLibs')">Country Liberal Party</button>
  </div>
  <div id="Liberal" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>ABETZ Eric </h5>
      <p>Tasmania</p>
      <h5>ANTIC Alex</h5>
      <p>South Australia</p>
      <h5>ASKEW Wendy</h5>
      <p>Tasmania</p>
      <h5>BIRMINGHAM Simon</h5>
      <p>New South Wales</p>
      <h5>BRAGG Andrew</h5>
      <p>New South Wales</p>
      <h5>BROCKMAN Slade </h5>
      <p>Western Australia</p>
      <h5>CASH Michaelia</h5>
      <p>Western Australia</p>
      <h5>CHANDLER Claire</h5>
      <p>Tasmania</p>
      <h5>COLBECK Richard</h5>
      <p>Tasmania</p>
      <h5>DUNIAM Jonathon</h5>
      <p>Tasmania</p>
    </div>
    <div class="ui five wide column">
      <h5>FAWCETT David</h5>
      <p>South Australia</p>
      <h5>FIERRAVANTI-WELLS Concetta</h5>
      <p>New South Wales</p>
      <h5>HENDERSON Sarah </h5>
      <p>Victoria</p>
      <h5>HUGHES Hollie</h5>
      <p>New South Wales</p>
      <h5>HUME Jane</h5>
      <p>Victoria</p>
      <h5>MCGRATH James</h5>
      <p>Queensland</p>
      <h5>MCLACHLAN Andrew</h5>
      <p>South Australia</p>
      <h5>MOLAN Jim</h5>
      <p>New South Wales</p>
      <h5>O'SULLIVAN Matt</h5>
      <p>Western Australia</p>
      <h5>PAYNE Marise</h5>
    </div>
    <div class="ui five wide column">
      <p>New South Wales</p>
      <h5>RENNICK Gerard</h5>
      <p>Queensland</p>
      <h5>REYNOLDS Linda</h5>
      <p>Western Australia</p>
      <h5>RUSTON Anne</h5>
      <p>South Australia</p>
      <h5>RYAN Scott</h5>
      <p>Victoria</p>
      <h5>SCARR Paul</h5>
      <p>Queensland</p>
      <h5>SESELJA Zed</h5>
      <p>Australian Capital Territory</p>
      <h5>SMALL Ben</h5>
      <p>Western Australia</p>
      <h5>SMITH Dean</h5>
      <p>Western Australia</p>
      <h5>STOKER Amanda</h5>
      <p>Queensland</p>
      <h5>VAN David</h5>
      <p>Victoria</p>
    </div>
</div>

  <div id="Labor" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>AYRES Tim</h5>
      <p>New South Wales</p>
      <h5>BILYK Catryna</h5>
      <p>Tasmania</p>
      <h5>BROWN Carol</h5>
      <p>Tasmania</p>
      <h5>CARR Kim</h5>
      <p>Victoria</p>
      <h5>CHISHOLM Anthony</h5>
      <p>Queensland</p>
      <h5>CICCONE Raff</h5>
      <p>Victoria</p>
      <h5>FARRELL Don</h5>
      <p>South Australia</p>
      <h5>GALLACHER Alex</h5>
      <p>South Australia</p>
      <h5>GALLAGHER Katy</h5>
      <p>Australian Capital Territory</p>
      <h5>GREEN Nita</h5>
      <p>Queensland</p>
    </div>
    <div class="ui five wide column">
      <h5>KENEALLY Kristina</h5>
      <p>New South Wales</p>
      <h5>KITCHING Kimberley</h5>
      <p>Victoria</p>
      <h5>LINES Sue</h5>
      <p>Western Australia</p>
      <h5>MCALLISTER Jenny</h5>
      <p>New South Wales</p>
      <h5>MCCARTHY Malarndirri</h5>
      <p>Northern Territory</p>
      <h5>O'NEILL Deborah</h5>
      <p>New South Wales</p>
      <h5>POLLEY Helen</h5>
      <p>Tasmania</p>
      <h5>SHELDON Tony</h5>
      <p>New South Wales</p>
      <h5>SMITH Marielle</h5>
      <p>South Australia</p>
      <h5>STERLE Glenn</h5>
      <p>Western Australia</p>
    </div>
    <div class="ui five wide column">
      <h5>URQUHART Anne</h5>
      <p>Tasmania</p>
      <h5>WALSH Jess</h5>
      <p>Victoria</p>
      <h5>WONG Penny</h5>
      <p>South Australia</p>
    </div>
  </div>
  <div id="Nationals" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>CANAVAN Matthew</h5>
      <p>Queensland</p>
      <h5>DAVEY Perin</h5>
      <p>New South Wales</p>
      <h5>MCDONALD Susan</h5>
      <p>Queensland</p>
      <h5>MCKENZIE Bridget</h5>
      <p>Victoria</p>
    </div>
  </div>
  <div id="Greens" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>FARUQI Mehreen</h5>
      <p>New South Wales</p>
      <h5>HANSON-YOUNG Sarah</h5>
      <p>South Australia</p>
      <h5>MCKIM Nick</h5>
      <p>Tasmania</p>
      <h5>RICE Janet</h5>
      <p>Victoria</p>
      <h5>SIEWERT Rachel</h5>
      <p>Western Australia</p>
      <h5>STEELE-JOHN Jordon</h5>
      <p>Western Australia</p>
      <h5>WATERS Larissa</h5>
      <p>Queensland</p>
    </div>
  </div>
  <div id="Alliance" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>GRIFF Stirling</h5>
      <p>South Australia</p>
    </div>
  </div>
  <div id="OneNation" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>HANSON Pauline</h5>
      <p>Queensland</p>
      <h5>ROBERTS Malcolm</h5>
      <p>Queensland</p>
    </div>
  </div>
  <div id="Lambie" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>LAMBIE Jacqui</h5>
      <p>Tasmania</p>
    </div>
  </div>
  <div id="CountryLibs" class="ui grid scrolling content party">
    <div class="ui five wide column">
      <h5>MCMAHON Sam</h5>
      <p>Northern Territory</p>
    </div>
  </div>
  <div class="ui light grey container">
     <button class="ui right floated button" 
     onclick="document.getElementById('id01').style.display='none'">Close</button>
    </div> 
 </div>
</div>


<script>
document.getElementsByClassName("tablink")[0].click();

function openParty(evt, partyName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("party");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].classList.remove("blue");
  }
  document.getElementById(partyName).style.display = "block";
  evt.currentTarget.classList.add("blue");
}
</script>
 
</body>
